{{ include('partials/header.twig') }}
<div class="left-side">
  <div class="lights">
    <div class="blue-light-holder">
      <div class="blue-light">
      </div>
    </div>
    <div class="led-container">
      <div class="red-light"></div>
      <div class="yellow-light"></div>
      <div class="green-light"></div>
    </div>
  </div>
  <div class="main-module">
  <button class="back-button"> <a href="{{ base_url() }}"> retour </a></button>
    <div class="outer-screen">
      <div class="inner-screen">
        <img class="imgPokemon" src="{{ base_url() }}/images{{ dataPokemon.picture}}">
      </div>
    </div>
  </div>
 
</div>
<div class="right-side">
  <div class="right-screeen">   
  <h4>Name : {{ dataPokemon.name}}</h4>
  <h4>Type : {{ dataPokemon.name_type}}</h4>
  <h4>Height : {{ dataPokemon.height * 0.1 }} m </h4>
  <h4>Weight : {{ (dataPokemon.weight * 0.1)|number_format(3, '.', ',')}} gram</h4>
  </div>
</div>
{{ include('partials/footer.twig') }}